---
import { formatDate } from "../js/utils";
import '@fontsource/roboto';

const { frontmatter, url } = Astro.props;

const { title, date, author, image, description, category } = frontmatter;
---

<article class="card">
  <a href={url}>
    <img
      id="post-image"
      src={image.src}
      alt={image.alt}
    />
  </a>
  <div class="content">
    <span class="tag">{category}</span>
    <a class="title" href={url}>{title}</a>
    <span class="author">por {author}, { formatDate(date) }</span>
    <p>{description}</p>
    <a class="action" href={url}>Ler mais</a>
  </div>
</article>

<style lang="scss">
  .card {
    font-family: 'Roboto', sans-serif;
  }
  @media (max-width: 576px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      margin-bottom: 2rem;
      font-family: "";

      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: .75rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.25rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }

        .author {
          font-size: .75rem;
          margin-top: .25rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }
	}

	@media (min-width: 577px) and (max-width: 768px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      margin-bottom: 4rem;

      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .75rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: .75rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.25rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }

        .author {
          font-size: .75rem;
          margin-top: .25rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }        
	}

	@media (min-width: 769px) and (max-width: 900px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: .75rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.25rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }

        .author {
          font-size: .75rem;
          margin-top: .25rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }
	}

	@media (min-width: 901px) and (max-width: 1024px){
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: .75rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.25rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }

        .author {
          font-size: .75rem;
          margin-top: .25rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }
	}

	@media (min-width: 1025px) and (max-width: 1600px){
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: .75rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.25rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }

        .author {
          font-size: .75rem;
          margin-top: .25rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }
	}

	@media (min-width: 1601px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: #101010;
      padding-bottom: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      a {
        color: white;
        text-decoration: none;

        #post-image {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      p, span {
        color: white;
      }

      .content {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag {
          background: #454545;
          padding: .5rem;
          border-radius: .5rem;
          font-size: 1rem;
        }

        .title {
          font-weight: 900;
          transition: .25s ease-in-out;
          margin-top: 1rem;
          font-size: 1.5rem;
          font-family: "Orbitron Variable", sans-serif;

          &:hover {
            color: #cbcbcb;
          }
        }
        
        p {
          font-size: 1.25rem;
        }

        .author {
          font-size: .85rem;
          margin-top: .5rem;
        }

        .action {
          text-decoration: underline;
          transition: .25s ease-in-out;

          &:hover {
            color: #cbcbcb;
          }
        }
      }
    }
	}
</style>