---
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <div class="container">
    <PostHeader {title} {description} {date} {category} {image} {author} />
    
    <div class="post-content">
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</MainLayout>

<style lang="scss">
  .content {
    font-family: "Roboto", sans-serif;
  }

  @media (max-width: 576px) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 75%;
          margin-top: 2rem;
        }
      }
    }
  }

	@media (min-width: 577px) and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 75%;
          margin-top: 2rem;
        }
      }
    }          
	}

	@media (min-width: 769px) and (max-width: 900px) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 75%;
          margin-top: 2rem;
        }
      }
    }
	}

	@media (min-width: 901px) and (max-width: 1024px){
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 50%;
          margin-top: 2rem;
        }
      }
    }    
	}

	@media (min-width: 1025px) and (max-width: 1600px){
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 50%;
          margin-top: 2rem;
          font-size: 1.1rem;
        }
      }
    }    
	}

	@media (min-width: 1601px) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          width: 50%;
          margin-top: 2rem;
        }
      }
    }
	}
</style>